body {
  margin: 0;
  padding: 0;
}
body > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(0deg, #6462E7 0%, #AF69EA 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.faq-card {
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  position: relative;
  width: calc(100vw - 2.5rem);
  max-width: 57.5rem;
  margin: 0 auto;
}
